<!DOCTYPE html>
<html>

    <head>

        <title>Gestor de tareas</title>
        <style>

            table{

                width: 80%;
                border-collapse: collapse;
                background-color:skyblue;

            }

            table, th, td{

                border: 1px solid;
                height: 25px;
                text-align: center;
                font-family: Helvetica, sans-serif;
                
            }

        </style>

    </head>

    <body>

        <div style="text-align: center; font-family: Helvetica, sans-serif;">
        
            <h1>VISTA PRINCIPAL - GESTOR DE TAREAS</h1>

        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-around;">

            <a href="{% url 'tareasApp:nuevaTarea' %}">

                <button style="width: 120px; height: 25px;">Nueva tarea</button>

            </a>

            <a>

                <button style="width: 120px; height: 25px;">Ver historico</button>
                
            </a>

        </div>

        <br>

        <div style="display: flex; flex-direction: row; justify-content: center;">

            <table id="tablaTareas">

                <thead>

                    <th>Nombre</th>
                    <th>Fecha de fin</th>
                    <th>Estado</th>
                    <th>Responsable</th>
                    <th>Finalizar</th>

                </thead>

                <tbody>

                    {% for tareaInfo in tareasTotales %}

                    <tr>
                        
                        <td id="tareaId" hidden>{{tareaInfo.id}}</td>
                        <td>{{tareaInfo.nombre}}</td>
                        <td>{{tareaInfo.fechaFin}}</td>
                        <td>{{tareaInfo.estadoTarea}}</td>
                        <td>{{tareaInfo.responsableTarea}}</td>
                        <td><button>Finalizar</button></td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </body>

</html>