<!DOCTYPE html>
<html>

    <head>

        <title>Crear nueva tarea</title>

        <style>

            .etiquetas{

                font-family: Helvetica, sans-serif;
                
            }

        </style>

    </head>

    <body>

        <div style="text-align: center; font-family: Helvetica, sans-serif;">
        
            <h1>CREAR NUEVA TAREA</h1>

        </div>

        <br>

        <div>

            <a href="{% url 'tareasApp:indice' %}">

                <button style="height: 25px; margin-left: 200px;">Regresar</button>

            </a>

        </div>

        <br>

        <div class="etiquetas" style="display: flex; flex-direction: row; justify-content: center;">

            <form style="display: flex; flex-direction: row; width: 100%; justify-content: center;" method="post" action="{% url 'tareasApp:nuevaTarea' %}">

                {% csrf_token %}

                <div style="width: 60%;">

                    <div style="display: flex; flex-direction: row; justify-content: space-between; height: 60%;">

                        <div style="display: flex; flex-direction: column; width: 45%;">

                            <label style="height: 30px;">Nombre</label>
                            <input type="text" name="nombre" required>

                        </div>

                        <div style="display: flex; flex-direction: column; width: 45%;">

                            <label style="height: 30px;">Descripcion</label>
                            <input type="text" name="descripcion" required>

                        </div>

                    </div>

                    <div style="display: flex; flex-direction: row; justify-content: space-between; height: 60%;">

                        <div style="display: flex; flex-direction: column; width: 45%;">

                            <label style="height: 30px;">Fecha de fin</label>
                            <input type="date" name="fechaFin" required>

                        </div>

                        <div style="display: flex; flex-direction: column; width: 45%;">

                            <label style="height: 30px;">Responsable</label>
                            <input type="text" name="responsableTarea" required>

                        </div>

                    </div>

                    <br>

                    <div>

                        <input style="height: 25px;" type="submit" value="Crear tarea">

                    </div>

                </div>

            </form>

        </div>

    </body>

</html>